version: "3.8"

services:
  backend:
    build: ./flag-service-backend
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    build: ./flag-service-frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8080
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
